# Dependencies
node_modules/

# Logs
log/
*.log

# Build files
dist/
build/

# Environment variables
.env

# IDE/Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Lock files (optional)
package-lock.json
yarn.lock

#Ignore Bat files
run-test.bat

#generate reports file
reports/
generateReport.js
